<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to feed.title, feed_path(feed) %>
      </p>
    </header>
    <div class="card-content">
      <div class="card-image">
        <%= image_tag (feed.last_entry.eye_catching_image || 'noimage.png') %>
      </div>
      <div class="content">
        <%= feed.last_entry.title %>
        <%= link_to feed.last_entry.link do %>
          リンク先で読む
        <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <%= tag("span", title: l(feed.last_entry.published_at, format: :long)) %>
          <i class="far fa-clock"></i> <%= l(feed.last_entry.published_at, format: :short) %>
      </p>
      <p class="card-footer-item">
        <a><i class="fas fa-plus-circle"></i> Fllow</a>
      </p>
    </footer>
  </div>
</div>
