<div class="feed-form-area">
  <h2 class="title center has-text-weight-bold">RSSフィードを登録する</h2>
  <%= form_with model: feed, local: true, class: "feed-form" do |f| %>
    <div class="field form-item">
      <label class="label" for="feed_endpoint">Url</label>
      <p class="control">
        <%= f.text_field :endpoint, class: "input" %>
      </p>
      <p class="help">RSSフィードのエンドポイントURLを入力してください。(必須)</p>
    </div>
    <div class="field form-item">
      <label class="label" for="feed_title">タイトル</label>
      <p class="control">
        <%= f.text_field :title, class: "input" %>
      </p>
      <p class="help">未入力の場合はRSSで取得したタイトルが設定されます(任意)</p>
    </div>
    <div class="field form-item">
      <tags-input :init_tags="<%= feed.tags.to_json %>" />
    </div>
    <div class="field">
      <p class="control center">
        <%= f.submit class: "button is-rounded is-conversion" %>
      </p>
    </div>
  <% end %>
</div>
