<!DOCTYPE html>
<html>
  <head>
    <title>Dogfeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Madogiwa_Boy" />
    <meta property="og:url" content="http://dogfeeds.herokuapp.com/" />
    <meta property="og:title" content="Dogfeeds" />
    <meta
      property="og:description"
      content="RSSãƒ•ã‚£ãƒ¼ãƒ‰ã‚’ã¾ã¨ã‚ãŸRssãƒ•ã‚£ãƒ¼ãƒ‰ã‚’ä½œã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚ä½œã‚Šæ–¹ã¯ç°¡å˜ãªã®ã§ã€ãœã²ä½œã£ã¦ã¿ã¦ãã ã•ã„ðŸ¶"
    />
    <meta property="og:image" content="http://dogfeeds.herokuapp.com/favicon.ico" />
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
